<section class="{{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900">
  <div class="feat-intro container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
    <div>
      <h1 class="text-4xl font-bold mb-4">{{ .Site.Params.introTitle | safeHTML}}</h1>
        <h2 class="text-xl mb-6">Here you'll learn about a vast array of programming languages, frameworks, and technologies.</h2>
        
        <h3 class="text-xl mb-6">Who am I?<br>I'm a programming language enthusiast. Sometimes I <a href="/blog">write</a>. Sometimes I post content on <a href="https://www.youtube.com/bradcypert">Youtube</a>.</h3>

        <h3 class="text-xl mb-6">I also run <a href="https://pyrestudios.com" target="_blank" rel="noopener">Pyre Studios LLC</a>, which has built apps such as <a href="https://www.lunajournal.app" target="_blank" rel="noopener">Luna Journal</a>.
        </h3>

    </div>
    {{ $src := resources.Get .Site.Params.introPhoto }}
    {{ $title := .Site.Title }}
      {{ with $src }}
        {{ $src := $src.Resize "x600 webp"}}
        <img class="rounded-lg shadow-sm" src="{{ $src.RelPermalink  }}" alt="{{ $src }}" />
      {{ end }}
  </div>
</section>