<section class="{{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900">
  <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
    <div>
      <h1 class="text-4xl font-bold mb-4">{{ .Site.Params.introTitle | safeHTML}}</h1>
        <h2 class="text-xl mb-6">Here you'll learn about a vast array of programming languages, frameworks, and technologies.</h2>
        
        <h3 class="text-xl mb-6">Who am I?<br>I'm a programming language enthusiast. Sometimes I <a class="text-pink-900" href="/blog">write</a>. Sometimes I post content on <a class="text-pink-900" href="https://www.youtube.com/@CodeWithCypert">my Youtube channel, CodeWithCypert</a>.</h3>


    </div>
    {{ $src := resources.Get .Site.Params.introPhoto }}
    {{ $title := .Site.Title }}
      {{ with $src }}
        {{ $src := $src.Resize "x600 webp"}}
        <img class="rounded-lg shadow-sm" src="{{ $src.RelPermalink  }}" height="600" alt="{{ $src }}" />
      {{ end }}
  </div>
</section>
