<script type="application/ld+json">
    {{ if eq .Section "blog" }}
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": {{ .Title }},
      "image": {{ if (isset .Params.Images 0) }} {{ index (.Params.images) 0 | absURL }} {{ end }},
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "author": {
        "@type": "Person",
        "name": {{ site.Params.author }}
      },
      "mainEntityOfPage": { "@type": "WebPage" },
       "publisher": {
        "@type": "Organization",
        "name": {{ site.Params.header }},
        "logo": {
          "@type": "ImageObject",
          "url": {{ site.Params.logo }}
        }
      },
      "description": {{ .Summary | plainify | safeHTML }},
      "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
    }
    {{ end }}
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": {{ site.Params.header }},
      "url": {{ site.BaseURL }},
      "sameAs": [
        "https://www.facebook.com/{{ site.Params.facebook }}",
        "https://www.instagram.com/{{ site.Params.instagram }}",
        "https://twitter.com/{{ site.Params.twitter }}",
        "https://github.com/{{ site.Params.github }}"
      ]
    }
    </script>
    