<div class="container p-6 mx-auto">
    <h3 class="text-2xl">Language Specific Resources:</h3>

    {{ $resources := slice
        (dict "name" "Zig" "description" "Blazingly fast. No hidden control flow. No hidden memory allocations. No preprocessor. No macros.")
        (dict "name" "Gleam" "description" "A friendly language for building type-safe systems on the Erlang VM. I'm currently building an SMTP server in it.")
        (dict "name" "Go" "description" "Simple, boring, and excellent for servers, CLIs, and gRPC. The language I reach for when I want to ship.")
        (dict "name" "Rust" "description" "Memory safety without a GC. Notes on traits, Drop, From/Into, and a few side projects.")
        (dict "name" "Dart" "description" "Dart is a client-optimized language for fast apps on any platform. Flutter allows developers to build apps for any type of screen.")
        (dict "name" "Clojure" "description" "Clojure is a dynamic, general-purpose programming language, combining the approachability and interactive development of a scripting language with an efficient and robust infrastructure for multithreaded programming.")
        (dict "name" "Java" "description" "Java is known for its “Write-Once-Run-Anywhere” mantra and helps run code on servers, phones, microwaves, and more!")
        (dict "name" "JavaScript" "description" "The language(s) of the web. TypeScript as well as JavaScript library and framework articles can be found here, too!")
        (dict "name" "Kotlin" "description" "Kotlin is a cross-platform, statically-typed language that often targets the JVM. It's used for web development, Android development, and much more.")
        (dict "name" "PHP" "description" "PHP was one of the first programming languages that I learned and while it's not something I often write these days, I still find myself appreciating the stateless nature of web development, as well as Laravel and, sometimes, Wordpress.")
        (dict "name" "Scala" "description" "Scala combines object-oriented and functional programming in one concise, high-level language. Note: Most of these examples will be using Scala 2.X")
      }}

    <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
      {{ range $resources }}
      <div class="p-2">
        <a href="/{{lower .name}}-resources">
          <div class="my-2 text-xl font-semibold">{{- partial "language-logo.html" (lower .name) -}}{{ .name }}</div>
          <div>{{ .description }}</div>
        </a>
        </div>

      {{ end }}
    </div>
</div>
