{{ define "main" }}
  {{- partial "intro.html" . -}}

  {{- partial "language-resources.html" . -}}

  {{ $frontBundle := site.Params.frontBundle | default "blog" }}

  <div class="bg-blue-50 dark:bg-pink-900 p-6 mx-auto">
    <h3 class="text-2xl text-center">Hot off the press:</h3>
    <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
      {{ range first 6 (where site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
        {{- partial "blog-card.html" . -}}
      {{ end }}
    </div>
  </div>

  {{ if gt (len (where site.RegularPages.ByDate.Reverse "Type" $frontBundle)) 6 }}
  <div class="text-center mb-8">
    <a class="px-8 py-3 rounded transition-colors bg-yellow-400 text-gray-900 hover:bg-yellow-300 dark:bg-pink-300 dark:text-gray-900 dark:hover:bg-pink-200 font-semibold"
      href="{{ (index (site.Menus.main) 0).URL | absLangURL }}" lang="{{ .Lang }}">
      {{ i18n "morePosts" }}
    </a>
  </div>
  {{ end }}

  {{- partial "social.html" . -}}
{{ end }}
